.navbar {
    background-color: #363636cc;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    color: #ffffff;
  }
  
  .navbar-nav .nav-link {
    color: #ffffff;
  }
  
  .navbar-collapse{
    justify-content: end;
  }